body{
    background-color: #9AC5F4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width:400px;
    background-color: rgba(255, 238, 187,.8);
    height: 300px;
    margin:230px auto 20px;
    padding:8px;
    border-radius: 16px;
}
 
h2{
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#input input{
    width:80%;
    margin:16px 0px 20px 20px; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px;
}

#btn{
    text-align: center;
}

button{
    margin-top: 16px;
    padding:8px;
    background-color:#99DBF5;
    border-radius: 8px;
}

#result{
    text-align: center;
    margin-top:35px;
    font-size: 26px;
}