body{
    overflow: hidden;
    background-color: rgb(243, 173, 241);
    font-family: 'Cinzel', serif;
    font-family: 'Cinzel Decorative', cursive;
}
h1{
    color: rgb(100, 7, 64);
    text-shadow:0 0 10px purple;
}
.container{
    margin:80px auto;
    background-color: rgba(0,0,0,.2);
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

#box{
    width: 50%;
    height: 50%;
    background-color: white;
    box-shadow: 0 0 10px peachpuff;
}

input{
    padding: 10px;
    width: 400px;
    border-radius: 9px;
    border:none;
}
input:focus{
   outline: none;
   box-shadow: 0 0 10px peachpuff;
}
a{
    text-decoration: none;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}